body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}
header{
    display: flex;
    background-color: black;
    min-height: 70px;
    justify-content: space-between;
    align-items: center;
}
a{
    text-decoration: none;
    display: flex;
    color: white;
    margin: 10px;
    font-weight: 700px;
    padding-right: 15px;
}
div.Logo{
    float: right;
    display: inline-flex;
}
h2.nombre_empresa:hover{
    color: #2f57d9;
}
.Logo{
    align-items: center;
    margin-right: 10px;
}
.Logo img{
    height: 60px;
}
nav{
    display: inline-flex;
}
/* a.opc{
    left: -15px;
} */
a.opc{
    transition: box-shadow 0.3s ease;
    border: solid 1px black;
    border-radius: 15px;
    padding: 9px;
}
a.opc:hover{
    box-shadow: 0 0.1rem 0.4rem rgba(59, 58, 58, 0.788);
}
a.Login{
    background-color: dodgerblue;
    padding: 5px;
    border: solid 1px white;
    border-radius: 15px;
    width: 55px;
    text-align: end;
}
a.Register{
    background-color: black;
    padding: 3.5px 3.5px 3.5px 5px;
    border: solid 1px black;
    border-radius: 15px;
    width: 90px;
}

@media (max-width: 644px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 12px 0px;
        display: inline-flex;
    }
}